@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: 'Merriweather', serif;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background: linear-gradient(62deg, #e43838 0%, #b30000 100%);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

#navbar h1 {
    padding: 0px 30px;
    color: white;
}

.navlinks {
    padding-top: 10px;
}
.navlinks > a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
}

#welcome-section{
    height: 100vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

#welcome-section h1 {
    font-size: 42px;
}

#welcome-section p {
    font-size: 32px;
    color: red;
    margin-top: -30px; 
}
/* Projects Section */
#projects {
  width: 100%;
  text-align: center;
  padding: 100px 0px;
}
.section-title {
  font-size: 26px;
  text-decoration: underline;
}
#projects > .myprojects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  width: 1100px;
  margin: 0 auto;
}
.card {
  width: 350px;
  box-shadow: 4px 10px 20px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.project-tile {
  background: slateblue;
  padding: 10px 15px;
  border-radius: 15px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  width: 100px;
  box-shadow: 2px 5px 20px 10px rgba(0,0,0, .2);
  text-decoration: none;
}

img {
  width: 350px;
  border-radius: 10px 10px 0px 0px;
}

#socials {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    color: white;
    text-align: center;
    flex-direction: column;
}

#socials .title h1 {
    font-size: 50px;
    margin-bottom: 0;
}

#socials .social_links a {
    text-decoration: none;
    color: white;
    width: 400px;
    margin: 10px;
    font-size: 20px;
}

.fab, .fas {
    font-size: 30px;
}
